input[type="text"] {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    max-height: 32px;
    border-radius: 16px;
    padding: 8px;
    padding-left: 12px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: show;
}

input[type="text"]:hover {
    border-color: var(--border-light);
}

input[type="text"]:disabled {
    background-color: var(--disabled-background) !important;
    color: var(--disabled-text);
    border-color: var(--disabled-border);
}
